html {
    margin: 0;
  }
  
  span {
    display: block;
  }
  .canvas {
    margin: 100px auto 100px;
    width: 80%;
    text-align: center;
  }
  
  .button {
    width: 100px;
    height: 100px;
    border: solid black 2px;
    display: inline-block;
  }
  
  #grey {
    background: #40128B;
  }
  
  #white {
    background: #0079FF;
  }
  #blue {
    background: #9336B4;
  }
  #yellow {
    background: #00DFA2;
  }
  #red{
    background: #FF0060;
  }
  