/* body{
    background-color: #212121 !important;
    color: #fff !important;
} */

h1{
    margin-left: 20px;
}

.color{
    padding: 20px;
    text-align: center;
    align-items: center;
}
button{
    margin-left: 40px;
    margin-top: 30px;
    width: 140px;
    height: 40px;
    font-size: 22px;
}
